.container-ProductItem{
  margin-top: 50px;
  margin-left:20px;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  transition: transform 100ms ease-in-out;
  width: 100%;
  min-height: 100px;
  overflow: hidden;
}
.img {
  width: 100%;
  display: block;
  border-radius: 10px;
  display: block;
}



