.container-filter{
    margin-left:30px;
  }
  .btn-filter{
    margin-left:30px;
    padding:12px 20px;
    margin-top:30px;
    border-radius:20px;
    border-style:none;
  }
  .lam{
    color:red;
    background-color:rgb(253, 203, 203);
  }
  .lam:hover{
    border:1px solid red
  }
  .fer{
    color:rgb(128, 128, 9);
    background-color:rgb(254, 254, 174);
  }
  .fer:hover{
    border:1px solid rgb(128, 128, 9);
  }
  .mcr{
    color:rgb(31, 31, 250);
    background-color:rgb(195, 231, 243);
  }
  .mcr:hover{
    border:1px solid rgb(31, 31, 250);
  }
  .bug{
    color:rgb(2, 132, 2);
    background-color:rgb(178, 240, 178);
  }
  .bug:hover{
    border:1px solid rgb(2, 132, 2);
  }
  .asm{
    color:purple;
    background-color:rgb(218, 193, 241);
  }
  .asm:hover{
    border:1px solid purple;
  }
  .por{
    color:red;
    background-color:rgb(253, 203, 203);
  }
  .por:hover{
    border:1px solid red;
  }
  .rol{
    color:rgb(128, 128, 9);
    background-color:rgb(254, 254, 174);
  }
  .rol:hover{
    border:1px solid rgb(128, 128, 9);
  }
  .pag{
    color:rgb(31, 31, 250);
    background-color:rgb(195, 231, 243);
  }
  .pag:hover{
    border:1px solid rgb(31, 31, 250);
  }
  .mer{
    color:rgb(2, 132, 2);
    background-color:rgb(178, 240, 178);
  }
  .mer:hover{
    border:1px solid rgb(2, 132, 2);
  }
  .zen{
    color:purple;
    background-color:rgb(218, 193, 241);
  }
  .zen:hover{
    border:1px solid purple;
  }